@include breakpoint(large) {
	.index#index {
		.splash-landing {
			.cell {
				@include flex-align-self(middle);
			}
		}

		.splash-prose {
			max-width: rem-calc(680);
			padding-top: rem-calc(24);
			margin: 0 0 rem-calc(24);

			.inner {
				border-radius: rem-calc(0 12 12 0);
				padding: rem-calc(48 16 48 56);
			}
		}
	}
}
