@include breakpoint(large) {
	.index#index {
		.splash-prose {
			max-width: 680px;
			padding-top: 24px;
			margin: 0 0 rem-calc(24);

			.inner {
				border-radius: 0 12px 12px 0;
				padding: rem-calc(48 16 48 56);
			}
		}
	}
}
