.index#index {
	.splash-landing {
		background: url('/img/index/splash-bg.png') center/cover no-repeat;
	}

	.splash-prose .inner {
		background: rgba(213,159,83,.65);
		border-radius: 0 12px 12px 0;

		h1,
		h1 * {
			line-height: 1;
		}

		.h1-large.script-font {
			font-size: rem-calc(160);
		}
	}
}
