@include breakpoint(medium) {
	.index#index {
		.splash-landing {
			background: url('/img/index/splash-bg.png') center/cover no-repeat;
			min-height: 100vh;
		}

		.splash-prose {
			max-width: 620px;
			width: 100%;
			margin: 0 auto 24px;

			.inner {
				background: rgba(213,159,83,.65);
				border-radius: 0 0 12px 12px;
				margin-bottom: 24px;
				padding-left: 16px;
				padding-top: 36px;
				padding-bottom: 36px;
				padding-right: 16px;

				h1,
				h1 * {
					line-height: 1;
				}

				.h1-large.script-font {
					font-size: rem-calc(160);
				}

				.white-hr {
					height: 8px;
					background: #fff;
					width: 100%;
					max-width: 200px;
				}

				.h3 {
					line-height: 1.2;
					max-width: 560px;
				}
			}

			.rsvp-button {
				padding: 16px 80px;
				background: #e9e9e9;
				border: 4px solid #d59f53;
				border-radius: 12px;
				font-size: 24px;
				letter-spacing: 1px;
				color: #000;
			}
		}
	}
}
