@font-face {
	font-family: 'Beach Party';
	src: url('/fonts/beach-party/beach-party.woff2') format('woff2'),url('/fonts/beach-party/beach-party.woff') format('woff'),url('/fonts/beach-party/beach-party.otf') format('opentype');
	font-style: normal;
	font-weight: 400;
}
