
@font-face {
    font-family:"BEACHPARTY-Regular";
    src:url("beach-party.woff2") format("woff2"),url("beach-party.woff") format("woff"),url("beach-party.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        